<div class="p-3 mt-2">
    <div class="card p-4">
        <form [formGroup]="dataForm" (submit)="submit(step)">
                <h4 class="text-primary" style="text-align:center;font-size:large;font-family:'Times New Roman', Times, serif">Edustar School Profile</h4>
            <div *ngFor="let count of page | paginate:{itemsPerPage:1,currentPage: step}">
                <div *ngIf="step<=1">
                    <div class="card">
                        <div class="card-header bg-primary text-white">{{step}}- General Information</div>
                        <div class="card-body" formGroupName="generalInformation1">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-4 mt-2">
                                        <label for="name">Name of the Institution <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fas fa-school"></i></span>
                                            <input class="form-control " formControlName="institutionName"
                                                placeholder="Name of the Institution" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="(dataForm.get('generalInformation1.institutionName')?.touched || submitted) && dataForm.get('generalInformation1.institutionName')?.invalid ">
                                            Institution field is required 
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="post">Postal Address <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input class="form-control " formControlName="postalAddress"
                                                placeholder="Enter Postal Address" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.postalAddress')?.invalid && (dataForm.get('generalInformation1.postalAddress')?.touched || submitted)">
                                            Address field is required
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="district">District <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input class="form-control " formControlName="district"
                                                placeholder="Enter the district" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.district')?.invalid && (dataForm.get('generalInformation1.district')?.touched || submitted)">
                                            District field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label for="state">State <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input class="form-control " formControlName="state"
                                                placeholder="Enter the state" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.state')?.invalid && (dataForm.get('generalInformation1.state')?.touched || submitted)">
                                            State field is required
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="cityVillageTown">City/Town/Villege <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input class="form-control " formControlName="cityVillageTown"
                                                placeholder="Enter city/town/villege" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.cityVillageTown')?.invalid && (dataForm.get('generalInformation1.cityVillageTown')?.touched || submitted)">
                                            City/Town/Villege field is required
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="pincode">Pincode <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            <input class="form-control " formControlName="pincode" placeholder="Enter the Pincode" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.pincode')?.invalid && (dataForm.get('generalInformation1.pincode')?.touched || submitted) ">
                                            Enter Valid Pincode
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label for="url">URL Link <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fa fa-link"></i></span>
                                            <input class="form-control " formControlName="url"
                                                placeholder="Enter the URL" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.url')?.invalid && (dataForm.get('generalInformation1.url')?.touched || submitted) ">
                                            URL field is required
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label >Official Email ID <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                            <input class="form-control " formControlName="officeMail"
                                                placeholder="Enter official Email id" [email]="true" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.officeMail')?.invalid && (dataForm.get('generalInformation1.officeMail')?.touched || submitted) ">
                                            Enter valid mail ID
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label >Official Phone Number <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                            <input class="form-control " formControlName="officeMobile"
                                                placeholder="Enter official Phone Number" type="text" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.officeMobile')?.invalid && (dataForm.get('generalInformation1.officeMobile')?.touched || submitted) ">
                                            Enter valid mobile Number
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label >School Location <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-list"></i></span>
                                            <select formControlName="schoolLocation" class="form-select form-select">
                                                <option value=null>-- select school location type --</option>
                                                <option value="urban">Urban</option>
                                                <option value="Semi-Urban">Semi-Urban</option>
                                                <option value="Rural">Rural</option>
                                                <option value="Tribal">Tribal</option>
                                            </select>
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.schoolLocation')?.invalid && (dataForm.get('generalInformation1.schoolLocation')?.touched || submitted) ">
                                            Select your school Location
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label >Does your school admit children with special needs? </label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-list"></i></span>
                                            <select formControlName="childNeeds" class="form-select form-select">
                                                <option selected value=null>-- select --</option>
                                                <option value=1>Yes</option>
                                                <option value=0>No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="academicYear">Academic Year <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-list"></i></span>
                                            <select formControlName="academicYear" class="form-select form-select">
                                                <option selected value=null>-- select academic year--</option>
                                                <option value="2022-2023">2022-2023</option>
                                                <option value="2021-2022">2021-2022</option>
                                                <option value="2020-2021">2020-2021</option>
                                                <option value="2019-2020">2019-2020</option>
                                                <option value="2018-2019">2018-2019</option>
                                            </select>
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation1.academicYear')?.invalid && (dataForm.get('generalInformation1.academicYear')?.touched || submitted )">
                                            Select Academic Year
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="step==2">
                    <div class="card mt-4" id="gi2">
                        <div class="card-header bg-primary text-white">{{step}}- General Information</div>
                        <div class="card-body" formGroupName="generalInformation2">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-4 mt-2">
                                        <label >Year of Establishment</label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            <input class="form-control " formControlName="establishYear"
                                                placeholder="Enter year of establishment" type="number" >
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label >School Level <span class="text text-danger bg-white">*</span></label>
                                        <div class="d-flex" style="font-size:12px;">
                                            <span class="input-group-text"><i class="fa fa-list"></i></span>
                                            <ng-multiselect-dropdown class="input-group"  
                                                [settings]="dropdownSetting" 
                                                [data]="schoolLevel"
                                                placeholder="-- Select --" 
                                                formControlName="schoolLevel">
                                            </ng-multiselect-dropdown>
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.schoolLevel')?.invalid && (dataForm.get('generalInformation2.schoolLevel')?.touched || submitted)">
                                            Select your school level
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="medium">Medium <span class="text text-danger bg-white">*</span></label>
                                        <div class="d-flex">
                                            <span class="input-group-text" ><i class="fa fa-language"></i></span>
                                            <ng-multiselect-dropdown  class="input-group"  
                                            [settings]="dropdownSetting" 
                                            [data]="medium"
                                            placeholder="-- Select --" 
                                            formControlName="medium">

                                        </ng-multiselect-dropdown>
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.medium')?.invalid && (dataForm.get('generalInformation2.medium')?.touched || submitted)">
                                            Select Medium
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label for="affiliation">Nature of Affiliation <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-clipboard-list"></i></span>
                                            <select formControlName="affiliationNature" class="form-select form-select">
                                                <option value=null >--select--</option>
                                                <option value="Private Aided">Private Aided</option>
                                                <option value="Private unaided">Private unaided</option>
                                                <option value="Government">Government</option>
                                                <option value="Private Partially-Aided">Private Partially-Aided</option>
                                            </select>
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.affiliationNature')?.invalid && (dataForm.get('generalInformation2.affiliationNature')?.touched || submitted)">
                                            Select nature of Affiliation
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="teachingStaff">Total No.of Teaching Staff <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-poll"></i></span>
                                            <input class="form-control " formControlName="teachingStaff"
                                                placeholder="Enter Total No.of teaching staff" type="number"
                                                >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.teachingStaff')?.invalid && (dataForm.get('generalInformation2.teachingStaff')?.touched || submitted)">
                                            This field is mandatory.
                                        </div>    
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="gender">Gender <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                                            <select formControlName="gender" class="form-select form-select">
                                                <option value=null>-- Select Gender --</option>
                                                <option value="Boys">Boys</option>
                                                <option value="Girls">Girls</option>
                                                <option value="Co-Educational">Co-Educational</option>
                                            </select>
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.gender')?.invalid && (dataForm.get('generalInformation2.gender')?.touched || submitted)">
                                            Select Gender
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label for="noGirls">Current No.of Girls (total) <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fa fa-poll"></i></span>
                                            <input class="form-control " formControlName="noGirls"
                                                placeholder="Enter Total number of girls" type="number" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.noGirls')?.invalid && (dataForm.get('generalInformation2.noGirls')?.touched || submitted)">
                                            This field is mandatory.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="noBoys">Current No.of Boys (total) <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-poll"></i></span>
                                            <input class="form-control " formControlName="noBoys"
                                                placeholder="Enter ototal number of boys" type="number" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.noBoys')?.invalid && (dataForm.get('generalInformation2.noBoys')?.touched || submitted)">
                                            This field is mandatory.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="totalStudent">Current No.of student (total) <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group ">
                                            <span class="input-group-text"><i class="fa fa-poll"></i></span>
                                            <input class="form-control " formControlName="totalStudent"
                                                placeholder="Enter Total no.of student" type="number" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.totalStudent')?.invalid && (dataForm.get('generalInformation2.total')?.touched || submitted)">
                                            This field is mandatory.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label for="nonTeachingstaff">Total No.of Non-Teaching-staff <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-poll"></i></span>
                                            <input type="number" class="form-control" formControlName="nonTeachingStaff"
                                                placeholder="Enter Total number of Non-teaching staff" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.nonTeachingStaff')?.invalid && (dataForm.get('generalInformation2.nonTeachingStaff')?.touched || submitted)">
                                            This field is mandatory.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="correspondentName">Name of the correspondent <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            <input type="text" class="form-control" formControlName="correspondentName"
                                                placeholder="Enter correspondent Name" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.correspondentName')?.invalid && (dataForm.get('generalInformation2.correspondentName')?.touched || submitted)">
                                            Enter Correspondent Name
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="correspondentMobileNo">correspondent Mobile Number <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                            <input type="text" class="form-control"
                                                formControlName="correspondentMobileNo"
                                                placeholder="Enter correspondent Mobile Number" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.correspondentMobileNo')?.invalid && (dataForm.get('generalInformation2.correspondentMobileNo')?.touched || submitted)">
                                            Enter valid number
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <label for="correspondentMailId">correspondent Email ID <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-envelope-open"></i></span>
                                            <input type="text" class="form-control" [email]="true" formControlName="correspondentMailId"
                                                placeholder="Enter correspondent Email ID" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.correspondentMailId')?.invalid && (dataForm.get('generalInformation2.correspondentMailId')?.touched || submitted)">
                                            Enter valid Email ID
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="principalName">Name of the principal / Headmaster <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" formControlName="principalName"
                                                placeholder="Enter principal/Headmaster name" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.principalName')?.invalid && (dataForm.get('generalInformation2.principalName')?.touched || submitted)">
                                            Enter Principal Name
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="principalMailId">Principal / Headmaster Email ID <span class="text text-danger bg-white">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-envelope-open"></i></span>
                                            <input type="text" class="form-control" [email]="true" formControlName="principalMailId"
                                                placeholder="Enter principal/Headmaster Email ID" >
                                        </div>
                                        <div class="text-danger" *ngIf="dataForm.get('generalInformation2.principalMailId')?.invalid && (dataForm.get('generalInformation2.principalMailId')?.touched || submitted)">
                                            Enter valid Principal Mail ID
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mt-3">
                                            <label for="principalOfficeMobileNo">Principal / Headmaster Office mobile Number <span class="text text-danger bg-white">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                                <input type="text" class="form-control"
                                                    formControlName="principalOfficeMobileNo"
                                                    placeholder="Enter principal/Headmaster Office Mobile Number"
                                                    >
                                            </div>
                                            <div class="text-danger" *ngIf="dataForm.get('generalInformation2.principalOfficeMobileNo')?.invalid && (dataForm.get('generalInformation2.principalOfficeMobileNo')?.touched || submitted)">
                                                Enter valid mobile number
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <label for="principalMobileNo">Principal / Headmaster Mobile Number <span class="text text-danger bg-white">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                                <input type="text" class="form-control"
                                                    formControlName="principalMobileNo"
                                                    placeholder="Enter principal/Headmaster Mobile Number" >
                                            </div>
                                            <div class="text-danger" *ngIf="dataForm.get('generalInformation2.principalMobileNo')?.invalid && (dataForm.get('generalInformation2.principalMobileNo')?.touched || submitted)">
                                                Enter valid mobile number.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="card-footer d-flex justify-content-between ">
                    <button *ngIf="step > 1" type="button" class="btn btn-info btn-sm" (click)="previous()"><i
                        class="fas fa-arrow-alt-circle-left"></i>
                    Previous</button>
                    <div>
                        <div class="input-group">
                            <div class="text text-secondary">Enter page number : </div>
                            <input type="number" class="form-control form-control-sm" style="width:40px;"  [(ngModel)]="step" [ngModelOptions]="{standalone: true}">
                            <div *ngIf="step >20" class="text text-danger">Twenty pages only! {{steps()}}</div>
                             
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-sm" style="margin-left:20px;">Save</button>
                    
                    <button *ngIf="step < 20" type="button" class="btn btn-primary btn-sm" (click)="next()" style="margin-left:20px;">Next <i class="fas fa-arrow-alt-circle-right"></i></button>
                    
                </div>
                <div class="text-center mt-1">
                    <pagination-controls (pageChange)="step=$event"></pagination-controls>
                </div>
        </form>   
    </div>
</div>