<form [formGroup]="loginForm" (submit)="submit()" novalidate>
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="col-3"></div>
        <div class="col">
          <div class="row">
            <div class="col-md-4 bg-white">
              <img class="mt-3" src="../assets/Media/login_side_img.png" alt="DBSTAR">
            </div>
            <div class="col-md-4 bg-white" style="text-align: center;">
              <img src="../assets/Media/dbstar_logo.png" width="200" alt="DBSTAR">

              
              <div *ngIf="error!=null" class="alert alert-danger">{{error}}</div>
              <div *ngIf="step==0">
                <div class="input-group " style="margin-top: 25px;">
                  <span class="input-group-text"><i class="bi-person"></i></span>
                  <input class="form-control " formControlName="username" placeholder="Username" type="text">
                </div>
                <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
                  class="text text-danger">username is required.
                </div>

                <div class="input-group mt-2">
                  <span class="input-group-text"><i class="bi-lock"></i></span>
                  <input class="form-control " formControlName="password" placeholder="password" type="password"
                    required="">
                </div>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
                  class="text text-danger">username is required.
                </div>

                <div class="row mt-3">
                  <div class="d-flex flex-row">
                    <button class="btn btn-success " [disabled]="loginForm.invalid">Login</button>
                    <button class="btn btn-success" style="margin-left:20px ;" routerLink="/register">Sign up</button>
                  </div>
                </div>
                <div class="row mt-3 mb-1">
                  <div class="col"><button class="btn btn-link" type="button" (click)="plus()"
                      style="font-size:15px ;">forgot password</button></div>
                </div>
              </div>
              <div *ngIf="step==1 ">
                <h5 class="text text-center">Forgot Password</h5>
                <div class="input-group mt-3">
                  <span class="input-group-text"><i class="bi-person"></i></span>
                  <input class="form-control " formControlName="username" placeholder="Enter Username" type="text">
                  <button class="btn btn-info" type="button" (click)="check()">get Pin</button>
                </div>
                <div class="input-group mt-3">
                  <span class="input-group-text"><i class="bi-key"></i></span>
                  <input class="form-control " formControlName="pin" placeholder="Enter the pin" type="number">
                </div>
                <div class="input-group mt-3">
                  <span class="input-group-text"><i class="bi-key-fill"></i></span>
                  <input class="form-control " formControlName="pwd" placeholder="Enter new password" type="text">
                </div>
                <div class="d-flex">
                  <button class="btn btn-success mt-3 mb-2" type="button" (click)="forgotPwd()">Submit</button>
                  <button class="btn btn-success mt-3 mb-2" style="margin-left:20px;" (click)="minus()">Back</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </form>

<!-- <div *ngIf="step==1">
  <div class="container-fluid ">
    <div class="row mt-5"></div>
    <div class="row mt-5">
      <div class="col-4"></div>
      <div class="col-md-4 bg-white" style="text-align: center;">
        <img src="../assets/Media/dbstar_logo.png" width="200" alt="DBSTAR"><br>
        <div class="text text-primary" style="font-size:18px ;font-weight:bold;">Change your password</div>
        <div *ngIf="error!=null" class="alert alert-danger">{{error}}</div>
        <form [formGroup]="pwd">
          
        </form>

      </div>
    </div> -->