<div style="padding:50px ;">
    <div class="card" style="padding:25px ;">
            <h4 style="text-align:center ;">Project School </h4>
            <div *ngIf="step == 0">
                <div class="row">
                    <div class="col-4">
                        <form [formGroup]="changeForm">
                            <div class="card">
                                <h5 style="text-align:center ;" class="card-header bg-primary">Change Role </h5>
                                <div class="card-body">
                                    <div class="col">
                                        <label for="">select User Name</label>
                                        <div class="input-group">
                                            <select class="form-select" formControlName="username">
                                                <option value=''>--select--</option>
                                                <option  *ngFor="let name of data;let i=index;" value="{{name.username}}">{{name.name}} - {{name.role}}</option>
                                            </select>                                            
                                        </div>
                                        <!-- 
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                            <input class="form-control" placeholder="Enter user name"
                                                formControlName="username" type="text">
                                        </div> -->
                                    </div>
                                    <div class="col mt-3">
                                        <label for="">Enter Role PIN</label>
                                        <div class="input-group">
                                            <select class="form-select" formControlName="role">
                                                <option value=''>--select--</option>
                                                <option value=0>User</option>
                                                <option value=1>School Admin</option>
                                        </select>                                            
                                        </div>
                                        <!-- <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-stream"></i></span>
                                            <input class="form-control" placeholder="Enter pin" type="password"
                                                formControlName="role">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="card-footer bg-primary">
                                    <div class="input-group ">
                                        <button class="btn btn-success" (click)="change()">Change</button>
                                        <!-- <button class="btn btn-primary" (click)="next()">Next</button> -->
                                        <button class="btn btn-info mx-2" (click)="exit()">Home</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Other Features</div>
                            <div class="card-body">
                                <div class="card-text">
                                    <button>Users List</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>