<header class="sticky-top">
  <div class="d-flex flex-row" style="background-color:rgb(234, 131, 6); color:white; font-weight:bold;">
    <img style="margin-left:10px ;" src="../assets/Media/Edustar_logo_white.png" width="100" class="d-inline-block align-top"
      alt="">
    <div class="align-self-center" style="font-family:'Times New Roman', Times, serif ;font-size:18px;">
      {{page}}
    </div>
    </div>
</header>

<div class="sidebar" style="background-color:rgb(29, 29, 98);margin-top:2px;font-weight: bold;color:white;">
  <a (click)="path('/main','DashBoard')">Dashboard</a>
  <a (click)="path('main/profile','User Profile')">Profile</a>
  <div *ngIf="type == 1"><a (click)="path('main/SchoolProfile','School Profile')">School Profile</a>
  </div>
  <a (click)="path('','')">Logout</a>
</div>

<router-outlet></router-outlet>
