/* *{
  font-family: 'Times New Roman', Times, serif;
} */

a{
  cursor: pointer;
}

mat-toolbar{
  background-color: blue;
  color: white;
}
mat-sidenav{
  margin: 5px;
  width: 200px;
  background: blue;
  color: white;
  border-radius: 10px;
  padding: 16px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
  background-color: cadetblue;
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  padding: 10px;
}
  
